.back_btn{
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
    width: 550px;
}
.back_btn a{
    margin-right: 250px;
}
/* ---------order list--------- */
.order{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.order_container{
    margin-top: 20px;
}
.order_list ul{
    display: flex;
    justify-content: space-between;
}
.order_list ul li{
    font-weight: bolder;
}
/* ------------price------------ */
.price-total {
    margin-top: 10px;
    color: black;
    text-align: right;
    margin-bottom: 10px;
}
.price-total p {
    font-weight: bold;
    margin-right: -30px;
}
/* ----------Product in cart-------------- */
.order table {
    width: 100%;
}
.order table thead tr th:first-child {
    text-align: left;
}
.order table thead tr th {
    text-align: center;
}
.order table tr td {
    padding: 12px 0;
}
.order tbody tr td img{
    width: 50px;
}
tbody td p{
    display: flex;
    justify-content: center;
}